.greetings {
    display: flex;
    grid-column: 1 / 4;
    flex-direction: column;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 3em;
    scroll-behavior: smooth;
}

.greetings h2, span {
    color: gray;
    font-family: 'Play';
    text-align: center;
    max-width: 850px;
    scroll-behavior: smooth;
}

.greetings span {
    
}